@media screen {
  
    .branding {
        padding-top; 300px;
        border-top: 2px solid #ccc;
    }
  
  @media screen and (max-width: 600px) {
    .wrapper {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      width: auto;
    }
}