body {
    background-color: burlywood;
}

h1 {
    text-align: center;
    color: black;
    font-size: 50pt;
    padding-bottom: 10px;
}

.sidebar {
    text-align: center;
    padding-top: 350pt;
    font-size: 30pt;
}

a:link {
    color: black;
    text-decoration: none;
    padding-right: 10px;
    padding-bottom: 5px;
    }

.content {
    text-align: center;
    font-size: 20pt;
}

.footer {
    text-align: bottom left;
    padding-top: 5px;
    border-top: 1px solid black;
}

.form {
    background-color: burlywood;
}





