<div class="info">
  <h1>Your new Drink!</h1>
  <form action="/drinks" method="post">
    <div class="form-drink">
      <label>Name:</label>
      <input type="text" class="drink-control" name="name" ><br>
      <label>Size:</label>
      <input type="integer" class="drink-control" name="size"><br>
      <label>Flavor:</label>
      <input type="text" class="drink-control" name="flavor"><br>
      <label>Milk:</label>
      <input type="text" class="drink-control" name="milk"><br>
      <label>Toppings:</label>
      <input type="text" class="drink-control" name="toppinga"><br>
      <label>Details:</label>
      <input type="text" class="drink-control" name="detail"><br>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>