<div class="info">
  <h1>Your new Drink!</h1>
  <form action="/drinks" method="post">
    <div class="form-drink">
      <label>Name:</label>
      <input type="text" class="drink-control" name="name" required><br>
      <label>Size:</label>
      <input type="text" class="drink-control" name="size" required><br>
      <label>Flavor:</label>
      <input type="text" class="drink-control" name="flavor" required><br>
      <label>Milk:</label>
      <input type="text" class="drink-control" name="milk" required><br>
      <label>Toppings:</label>
      <input type="text" class="drink-control" name="toppings" required><br>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>