<h1>Edit Drink</h1>
  <form action="/drinks/<%=@drink.id%>" method="post">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
      <p>Name: <input type="text" name="name"></p>
      <p>Size: <input type="text" name="size"></p>
      <p>Flavor: <input type="text" name="flavor"></p>
      <p>Milk: <input type="text" name="milk"></p>
      <p>Toppings: <input type="text" name="toppings"></p>
      <p>Details: <input type="text" name="details"></p>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
