@media screen {
  /* --- Reset Styles --- */
  


  /* --- Welcome Page Styles --- */
  body {
    background-color: #556B2F;
    color: #333;
    font-family: Copperplate, Papyrus, fantasy;
    line-height: 10px;
    }
  
  .wrapper {
    background:#FFEFD5;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: auto;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
  }

  h1 {
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    padding: 25;
  }

  


  


  

  

  

  

  .branding {
    clear: both;
  }

  footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  }

 

  
