<a id="you-drinks" href="/drinks">Your Drinks!</a>
<br>
<br>
    <form method="POST" action="/logout">
    <input type="submit" value="Log Out">
    </form>
<br>
    <form method="post" action="/delete">
    <input id="hidden" type="hidden" name="_method" value="Delete">
    <input type="submit" value="Delete Account">
</form>
</div>