<div class="drinks"
<a href="/drinks"</a>
<br>
    
<br>
    <form method="post" action="/delete">
    <input id="hidden" type="hidden" name="_method" value="Delete">
    <input type="submit" value="Delete Account">
</form>
</div>