<div class="form">
   <h1>Login Here!</h1>
   <form action="/login" method="post">
    <div class="login">
      <label>Username</label>
      <input type="text" class="login-form" name="username">
      <br>
      <input type="text" class="login-form" name="password">
    </div>
   <button type="submit" class="btn btn-primary" value="Login"</button>
  </form>
</div>