<h1>Sign in Here!</h1>
<form method="post" action="/login">
<label>Username: <input type="text" id="login_username" name="username"></label>
<label>Password: <input type="text" id="login_password" name="password"></label>
<input type="submit" value="Log in">
</form>