<div class="signup">
<h2>Signup Here!</h2>
<br>
  <form action="/signup" method="POST">
    <input type="text" name="username" placeholder="Username:">
    <input type="password" name="password" placeholder="Password:">
    <input type="submit" value="submit">
  </form>
</div>




