<div class="create">
  <h1>Signup Here!<h1> 
    <form action="/signup" method="POST">
      <div class="input">
      <label>Username:</label>
      <input type="text" class="create-form" name="username">
      <br>
      <label>Email:</label>
      <input type="text" class="create-form" name="email">
      <br>
      <label>Password:</label>
      <input type="text" class="create-form" name="password">
    </div>
    <button type="submit" class="btn btn-primary" value="Submit"></button>
  </form>
</div>


