<div class="container"> 
    <h1>The Fascinating World of Coffee</h1>
    <div class="sidebar">
        <p>The coffee world is complex, a beans journey from growing, processing, roasting and eventually into a delicious cup of coffee, 
        is a beautiful and tedious process.<p>
    </div>
    <img src="https://media1.thehungryjpeg.com/thumbs2/800_3531037_uxdvz55x0gr0tuohsjjnqvqesu6l8majkc0bui0w_60-coffee-beans-png-shapes-amp-objects.jpg" class="img">

