<!DOCTYPE html>
<html>
  <head>
      <title>TheCoffeeProject</title>
      <link rel="stylesheet" href="css/main.css">
  </head>
      <body>
          <nav>
          <a class ="header"></a>
          <% if logged_in? %>
          <a href="/drinks"> Drink Menu </a>
          <br>
          <a href="/drink/new"> Create drink </a>
          <br>
          <a href="/logout"> Log Out </a>
          <%end%>
        </nav>
      <br>
    <%= yield %>
  </body>
</html>
