<body id="menu">
    <div id="message">
    <p>Coffee is our morning fuel. Whether you are a creature of habit, or always down to try new things, you can check out a handcrafted secret menu or create your very own drink and try it out for yourself!</p>
    </div>
    <br>
    <img src="/images/coffee-heart.jpeg" alt="Coffee Bean Heart" id="mainimg">
    <br>
    <div id="header">
        <%if !logged_in? %>
        <a class="nav" href="/signup">Signup</a>
        <a class="nav" href="/login">Login</a>
        <%end%>
    </div>
</body>

